@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

/* Josh Comeau's Custom CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS variables */
:root {
  --dark-blue: #172339;
  --light-blue: #49566d;
  --light-beige: #f3ede7;
  --white: #faf8f6;
  --light-purple: #a060ff;
  --bright-purple: #cb30e3;
  --orange: #ffa84e;
  --gradient: linear-gradient(
    160deg,
    var(--light-purple) 0%,
    var(--bright-purple) 49%,
    var(--orange) 100%
  );

  --ff-headings: 'Epilogue', sans-serif;
  --ff-body: 'Epilogue', sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;

  --fluid-h1: clamp(2.375rem, 1.2908rem + 4.6259vi, 4.5rem);
  --fluid-h2: clamp(2.5rem, 1.3772rem + 2.3392vi, 3rem);
}

/* reusable styles */

/* containers */
.container {
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* headings */
.main-heading {
  font-family: var(--ff-headings);
  font-weight: var(--fw-regular);
  font-size: var(--fluid-h1);
  line-height: clamp(2.75rem, 1.6658rem + 4.6259vi, 4.875rem);
  letter-spacing: -1px;
}

.secondary-heading {
  font-family: var(--ff-headings);
  font-weight: var(--fw-regular);
  font-size: var(--fluid-h2);
  line-height: clamp(3rem, 2.7449rem + 1.0884vi, 3.5rem);
  letter-spacing: -0.5px;
}

/* text */
.bold-text {
  font-weight: var(--fw-bold);
}

/* buttons */
.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--fw-bold);
  border-radius: 0.375rem;
  padding: 0.9375rem 2rem;
  transition: all 0.3s ease-in;
}

.btn--primary {
  background-color: var(--dark-blue);
  color: var(--white);
}

.btn--primary:is(:hover, :active) {
  background: var(--gradient);
}

.btn--secondary {
  background-color: transparent;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.btn--secondary:is(:hover, :active) {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* grid */
.grid-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* page styles */
body {
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  line-height: 32px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: clamp(1.5rem, 0.6709rem + 3.5374vi, 3.125rem);
}

/* hero */
.hero {
  padding-top: clamp(4.1875rem, 6.8246rem + -3.8012vi, 5rem);
}

.hero__title {
  max-width: 16ch;
  margin-bottom: clamp(2rem, 1.7449rem + 1.0884vi, 2.5rem);
  position: relative;
}

.hero__title::after {
  content: '';
  position: absolute;
  background: url(/assets/pattern-curved-line-1.svg) no-repeat;
  background-size: contain;
  height: 39px;
  width: 289px;
  top: -50px;
  right: 50px;
}

.hero__description {
  max-width: 21.875rem;
  margin-bottom: clamp(2rem, 1.3622rem + 2.7211vi, 3.25rem);
}

/* hero grid 1 */
.hero-grid-1 {
  display: grid;
  grid-template-columns: 1fr 12rem;
  gap: clamp(1rem, -10.2281rem + 23.3918vi, 6rem);
}

@media screen and (max-width: 50em) {
  .hero-grid-1 {
    grid-template-columns: 1fr;
  }
  .hero__title::after {
    background: url(/assets/pattern-curved-line-1-medium.svg) no-repeat;
    background-size: contain;
    height: 26px;
    width: 193px;
    top: -40px;
    right: 75px;
  }
}

/* hero grid 2 */
.hero-grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  align-items: center;
}

.hero-grid-image {
  grid-column: 3 / 4;
}

.hero-grid-content {
  padding-top: clamp(0rem, -3.2526rem + 13.8776vi, 6.375rem);
  padding-bottom: clamp(3.5rem, 2.352rem + 4.898vi, 5.75rem);
  max-width: 39.6875rem;

  grid-column: 1 / -1;
  z-index: 1;
}

.hero-grid-content,
.hero-grid-image {
  grid-row: 1 / -1;
}

/* mobile image */
.hero__img-mobile {
  display: none;
}

/* reach */
.hero__reach-section {
  align-self: center;
}

@media screen and (max-width: 50em) {
  .hero__reach-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.reach-information {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: var(--fw-bold);
}

.reach-title {
  font-size: 1rem;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  color: var(--light-blue);
}

/* reviews */
.reviews {
  position: relative;
}

.reviews::after {
  content: '';
  background-color: var(--light-beige);
  height: 50%;
  width: 100vw;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.reviews-container {
  background: var(--dark-blue);
  color: var(--white);
  border-radius: 0.9375rem;

  margin-top: clamp(12.4375rem, 27.4485rem + -21.6374vi, 17.0625rem);

  position: relative;
}

.reviews-container::before {
  content: '';
  position: absolute;
  background: url(/assets/pattern-blur.svg) no-repeat;
  height: 538px;
  width: 538px;
  top: 0;
  left: 0;
}

.reviews-container::after {
  content: '';
  position: absolute;
  background: url(/assets/pattern-curved-line-2.svg) no-repeat;
  height: 54px;
  width: 66px;
  top: 10rem;
  left: 45%;
}

.reviews__img {
  max-width: 20rem;
  height: auto;

  position: absolute;
  left: 7rem;
  bottom: 0;
  z-index: 1;
}

.quote-section {
  align-self: center;
  padding: 5.5rem 7.5rem;

  grid-column: 2 / -1;
}

.reviews__title {
  margin-bottom: 40px;
}

.reviews__quote {
  display: block;
  margin-bottom: 40px;
}

.reviews__user-name,
.reviews__user-title {
  text-transform: uppercase;
}

@media screen and (max-width: 50em) {
  .grid-2cols {
    grid-template-columns: 1fr;
  }
  .reviews__img {
    max-width: 17rem;
    left: 50%;
    top: -10rem;
    transform: translateX(-50%);
  }
  .reviews-container {
    padding-top: 21.125rem;
    text-align: center;
  }
  .reviews-container::before {
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .reviews-container::after {
    top: 21rem;
    left: 45%;
  }
  .quote-section {
    padding-inline: 3.625rem;
  }
}

/* footer */
footer {
  background-color: var(--light-beige);
  padding-top: clamp(3.5rem, 2.2564rem + 5.3061vi, 5.9375rem);
  padding-bottom: 4.5rem;
}

.copyright {
  justify-self: center;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  justify-self: end;
}

.social-icon {
  transition: all 0.3s ease-in;
}

.social-icon:hover {
  fill: var(--light-blue);
}

/* media queries */

/* mobile view */
@media screen and (max-width: 30em) {
  /* hero */
  .hero__img-mobile {
    display: block;
    margin-bottom: clamp(3.5rem, 1.7353rem + 7.5294vi, 5.5rem);
  }
  .hero__img-desktop {
    display: none;
  }
  .hero__description {
    max-width: 100%;
  }
  .hero__reach-section {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .hero__title::after {
    background: url(/assets/pattern-curved-line-1-small.svg) no-repeat;
    background-size: contain;
    height: 19px;
    width: 144px;
    top: -30px;
    right: 60px;
  }
  /* reviews */
  .quote-section {
    padding-inline: 1rem;
  }

  /* footer */
  .grid-3cols {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2rem;
  }
  .social-icons {
    justify-self: center;
  }
}
